<div class="row">
    <section class="main col-md-12">
        <article>
            <h2>Deni Rakovic - "The Developer"</h2>
            <p>Hi, </p>
            <p>My name is Deni Rakovic and I am currently enrolled in CPD at Seneca @ york. I am in my second year of the program and have been enjoying my studies so far.
                Previously I worked as a I.T. technician at a small business and I would like to further expand my skillset.
                My goal for the future is to gather good people, and good programmers to do development work for businesses in need of increasing the efficiency of a specific department.</p>
            <p>Thank you for your time,<br/>
                Deni Rakovic</p>
        </article>
    </section>
</div>
